<!DOCTYPE html>
<html>
  <body>
    <form action="/add/user" method = "POST" >
      <label for="name">Name :</label><br />
      <input type="text" id="name" name="name" value="" /><br />
      <label for="email">Email :</label><br />
      <input type="text" id="email" name="email" value="" /><br />
      <label for="age">Age :</label><br />
      <input type="text" id="age" name="age" value="" /><br />
      <label for="city">City :</label><br />
      <input type="text" id="city" name="city" value="" /><br />
      <label for="profession">Profession :</label><br />
      <input type="text" id="profession" name="profession" value="" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <p>
      If you click the "Submit" button, the form-data will be sent to a page
      called "/action_page.php".
    </p>
  </body>
</html>
