<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="mainContent">
        <div class="Header">
            <h1>Our Users</h1>
            <button type="button" onclick="location.href='/form' ">Add User</button>
        </div>
        <div class="UsersContainer">
            <% data.forEach((user)=>{%>
                <div class="card">
                    <h2>🙂<%= user.name %></h2>
                    <h3>📫<%= user.email %></h3>
                </div>
            <%});%>
        </div>
    </section>
</body>
</html>
